backend/__pycache__
**/__pycache__
backend/venv
backend/alembic.ini
backend/migration
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/package-lock.json
frontend/build
frontend/coverage
frontend/npm-debug.log*
.vscode/
frontend/dist/
frontend/typings
frontend/.npm
